$cd-principal: #7dac66;
$cd-second: #ffc98c;
$cd-btn: #000000;
$cd-txt: black;

html{
  scroll-behavior: smooth;
  box-sizing: border-box;
}

body{
  margin: 0;
}

.btn {
  text-decoration: none;
  color: $cd-txt;

      .btn--rounded{
        border-radius: 40px;
        color: white;
      }
    
        &:hover{
          cursor: pointer;
        }

}

.ice-proj{
  background-color: $cd-principal;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;

      &__header{
      display: flex;
      align-items: center;
      border-radius: 40px;
      margin: 20px 10px;
    
          &--nav{  
              justify-content: space-between;
              background-color: $cd-second;
          }
        
              &--rounded{
                justify-content: center;
                padding: 12px;
                max-width: 300px;
                background-color: #000000;
              }
  }

}

.ice-proj__brand{
  padding: 10px;
}

.ice-proj__btn--text{
  padding: 0px 20px;
}

.ice-proj__pic{
  border-radius: 20px;
    &--principal{
      max-width: 700px;
      max-height: 600px;
    }
}

.ice-proj__heading{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;

    .heading__block{
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center;
      max-width: 50%;
      flex-wrap: wrap;
      gap: 10px;
    }

        .big-title{
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          font-size: 100px;
          margin: 0;
          word-wrap: break-word;
        }
  }


.sticker{
  font-size: 100px;
  color: #fdcb2c;
  display: flex;
  flex-direction: row-reverse;
}


.ice-proj__text{
  font-size: 40px;
}

// --------------------------------------------MAIN----------------------------------

main{
  display: flex;
}









  
