*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.btn {
  text-decoration: none;
  color: black;
}
.btn:hover {
  cursor: pointer;
}

.btn__rounded {
  border-radius: 40px;
  background-color: #000000;
  color: white;
  padding: 20px;
  font-size: 20px;
  transform: scale(0.5);
  transition-property: transform;
  transition-duration: 300ms;
}
.btn__rounded--main {
  margin-bottom: 20px;
}
.btn__rounded--main:hover {
  transform: scale(0.7);
}
.btn__rounded--second {
  background-color: transparent;
  color: #000000;
}

.ice-proj {
  background-color: #99c881;
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}
.ice-proj__header {
  display: flex;
  align-items: center;
  border-radius: 40px;
  margin: 20px 10px;
}
.ice-proj__header--nav {
  justify-content: space-between;
  background-color: #ffe8cd;
}
.ice-proj__header--rounded {
  justify-content: center;
  padding: 12px;
  max-width: 300px;
  background-color: #000000;
}

.ice-proj__brand {
  padding: 10px;
  font-weight: bold;
}

.ice-proj__btn--text {
  padding: 0px 20px;
}

.ice-proj__pic {
  border-radius: 20px;
}
.ice-proj__pic--principal {
  width: 100%;
  max-width: 700px;
  max-height: 600px;
}

.ice-proj__heading {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}
.ice-proj__heading .heading__block {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  max-width: 50%;
  flex-wrap: wrap;
  gap: 10px;
}
.ice-proj__heading .big-title {
  flex-wrap: wrap;
  width: 100%;
  font-size: 100px;
  margin: 0;
  word-wrap: break-word;
}

.sticker {
  font-size: 100px;
  color: #fdcb2c;
  display: flex;
  flex-direction: row-reverse;
}

.ice-proj__text {
  font-size: 40px;
}

.ice-proj__main {
  display: flex;
  flex-direction: column;
}

.main__section--flavours {
  display: flex;
  overflow: hidden;
  width: 100%;
  align-items: center;
  padding: 10px 0px;
}

.txt {
  white-space: nowrap;
  font-size: 30px;
  animation: Scroll 15s linear infinite;
}

@keyframes Scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.slider-container {
  background-color: #ffe8cd;
}

.slider-1 {
  max-width: 600px;
  margin: 100px auto;
  overflow: hidden;
  border: 1px solid #000000;
}
.slider-1 p {
  background-color: #000000;
  flex-shrink: 0;
  padding: 72px 0;
  width: 100%;
  text-align: center;
  font-size: 45px;
  color: #ffe8cd;
}
.slider-1 .slider {
  display: flex;
  animation: slider-1 12s infinite ease-in-out;
  flex-direction: row-reverse;
}

.shop__img {
  max-width: 200px;
  height: auto;
  padding: 20px;
  border-radius: 50px;
}

@keyframes slider-1 {
  0%, 20% {
    transform: translateX(0);
  }
  25%, 45% {
    transform: translateX(100%);
  }
  50%, 70% {
    transform: translateX(-200%);
  }
  75%, 95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
}/*# sourceMappingURL=indentation.css.map */